Assets/Resources/Fonts/DNFBitBitOTF[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text

# Git이 자동으로 줄바꿈 문제를 해결해주도록 설정
*.cs     text=auto
*.shader text=auto
*.meta   text=auto
*.unity  text=auto
*.prefab text=auto